.footer {
  align-items: center;
  background-color: $color-main;
  border: 1px solid $color-main-dark;
  display: flex;
  height: 200px;
  justify-content: center;

  &-square {
    $width: 150px;

    height: $width;
    width: $width;
  }
}
