.flex-container {
    display: flex;
    margin-bottom: $main-spacing;

    @media (max-width: 500px) {
        flex-direction: column;
    }
}

.half-box {
    width: 100%;
    height: 300px;
    margin-right: $main-spacing;

    @media (max-width: 500px) {
        margin-bottom: $main-spacing;
    }
}

.half-box:last-child {
    margin-right: 0;
}

.third-box {
    width: 100%;
    height: 120px;
    margin-right: $main-spacing;

    @media (max-width: 500px) {
        margin-bottom: $main-spacing;
    }
}
.third-box:last-child {
    margin-right: 0;
}
