body {
    font-family: $font-family;
    color: $color-main-dark;
}

.container {
    width: 100%;
    max-width: 1024px;
    margin: 100px auto 0;
}

.box {
    background-color: $color-main;
    border: 1px solid $color-main-dark;
}
